body {
    background-color: #fe019a;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 24px;
    font-weight: 900;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  background-color: #204ac8;
}

a:active {
  color: white;
}

.image {
  background-color: black;
  border: 15px solid black;
  width: 525px;
  margin: 0 auto;
}