html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color: #fe019a;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    border: 10px #204ac8;
    border-style:double;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.recipes:link a {
    color: white;
  }
  
.recipes:visited a {
    color: white;
  }
  
.recipes:hover a {
    color: white;
    background-color: #204ac8;
  }
  
.recipes:active a {
    color: white;
  }

.footer {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}